.tableList {
    margin-top: 5%;
    margin-bottom: 5%;
}

.tableButton {
    /* margin-left: 28%;
    margin-right: 28%; */
    min-width: 100%;
    display:flex;
    justify-content: "center";
    align-items: "center";
    background-color: lightgray;
}

.tableButton img{
    margin-left: 33%;
    max-height: 50px;
    max-width: 50px;
}